.map-action-element-container {
    padding: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: space-between;
}

.map-page-container {
	height: 100%;
	position: relative;
}