<div class="map-container" >
	<app-map [data]="barProperties" [highlightedMarker]="highlightedMarker"></app-map>
</div>

<div class="content" 
	fxLayout="row"
	fxLayoutGap="15px"
	fxFlexFill >
	
	<div *ngIf="!isMobile; else mobile" class="map-left-element-container">
		<mat-form-field class="auto-complete">
			<input type="text" placeholder="Rechercher un bar" matInput [formControl]="barSearcher" [matAutocomplete]="auto">
			<mat-autocomplete #auto="matAutocomplete">
				<mat-option *ngFor="let bar of bars | async" [value]="bar.name">
					{{ bar.name }}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>

		<app-map-filters [(data)]="barProperties"></app-map-filters>
	</div>
	<ng-template #mobile>
		<button *ngIf="!showFilters; else filters" mat-fab (click)="toggleShowFilters()" color="primary" class="mapPage-button">
			<mat-icon>menu</mat-icon>
		</button>
		<ng-template #filters>
			<app-map-filters class="map-mobile-filters" [(data)]="barProperties" [isMobile]="isMobile" [(showFilters)]="showFilters"></app-map-filters>
		</ng-template>
	</ng-template>
</div>