<div class="mat-app-background">
    <app-map [iconChangeId]="iconChangeId"></app-map>
    <div class="map-action-element-container">
		<!-- <app-search-auto-complete (itemChanged)="iconIdChanged($event)"></app-search-auto-complete> -->
		<!-- <app-algolia-search></app-algolia-search> -->
        <app-button-filter [iconName]="'store'"></app-button-filter>
        <app-button-filter [iconName]="'local_bar'"></app-button-filter>
        <app-button-filter [iconName]="'attach_money'"></app-button-filter>
        <app-button-filter [iconName]="'access_time'"></app-button-filter>
    </div>
</div>