@import './../../../scss/custom';

:host {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: auto;
	-webkit-box-flex: 1;
}

.map-action-element-container {
	padding: 1rem 0 0 1rem;
	display: flex;
	flex-direction: column;
	height: 20rem;
	justify-content: space-between;
}

.map-left-element-container {
	position: absolute;
	top: 100px;
	left: 10px;
}

.map-mobile-filters {
	position: absolute;
	bottom: 120px;
	left: calc(50% - 175px);
}

.map-filter {
	color: _theme("primary");
}

.map-container {
	display: flex;
	height: calc(100vh - 50px);
}

.mapPage-button {
	position: absolute;
	bottom: 10px;
	left: calc(50% - 28px);
}

.auto-complete {
	display: block;
	border-radius: 4px;
	background-color: #FFFFFF;
	margin-bottom: 10px;
	padding: 5px 16px;
}