:host {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 1rem;
}

.register-card {
	max-width: 500px;
	margin: 1rem;
	flex: auto;
	box-sizing: border-box;
	padding: 25px 50px;
	width: 100%;
}

.register-button, .cancel-link {
	text-align: center;
}

.register-header {
	margin-bottom: 2rem;
}

.register-title {
	font-weight: 500;
	text-align: left;
	font-size: x-large;
}
