<div class="theme-background-container"></div>

<section class="header-card-white">
	<div class="group-container">
		<h2 class="highlighted-info">3</h2>
		<h3 class="description-info">Bars gérés</h3>
	</div>
	<div class="group-container">
		<h2 class="highlighted-info">Jonathan Bosi</h2>
		<h3 class="description-info">jonathan.bosi@lilo.org</h3>
	</div>
	<div class="group-container">
		<h2 class="highlighted-info">680</h2>
		<h3 class="description-info">Favoris</h3>
	</div>
</section>

<section class="bar-section bar-content">
	<div class="bar-management-header">
		<button mat-flat-button [routerLink]="['./new']" routerLinkActive="is-active">
			<mat-icon class="add-icon"  aria-hidden="false" aria-label="add" color="primary">add</mat-icon>
			NOUVELLE DEMANDE
		</button>
		<div class="bar-management-buttons-filter">
			<button mat-flat-button class="margin-right"
				(click)="toggleOwnershipRequests(false)"
				[routerLink]="['./']" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">MES BARS</button>
			<button mat-flat-button
				(click)="toggleOwnershipRequests(true)"
				[routerLink]="['./pending-request']" routerLinkActive="is-active">MES DEMANDES</button>
		</div>
	</div>
</section>

<section class="bar-section">
	<router-outlet></router-outlet>
</section>