<ng-container *ngIf="hasError">
	<span *ngFor="let errorMessage of errorsMessage" class="callout-error error-message-container">{{ errorMessage }}</span>
</ng-container>

<mat-card class="register-card">
	<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
		<mat-card-title class="register-header">
			<h2 class="mod-marginBottomReset register-title">CREER UN COMPTE</h2>
			<p>Bienvenue sur Drinks for all</p>
		</mat-card-title>

		<mat-card-content>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Nom d'utilisateur</mat-label>
					<input matInput type="text" formControlName="username"/>
					<mat-error *ngIf="submitted && f.username.errors">Veuillez entrer un nom d'utilisateur</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Email</mat-label>
					<input matInput type="email" formControlName="email"/>
					<mat-error *ngIf="submitted && f.email.errors">Veuillez entrer une adresse email</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Password</mat-label>
					<input matInput type="password" formControlName="password"/>
					<mat-error *ngIf="submitted && f.password.errors">Veuillez entrer un mot de passe</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Password</mat-label>
					<input matInput type="password" formControlName="passwordConfirmed"/>
					<mat-error *ngIf="f.passwordConfirmed.errors">Veuillez entrer un mot de passe</mat-error>
				</mat-form-field>
			</div>
		</mat-card-content>

		<mat-card-actions class="register-button">
			<div class="form-group">
				<button [disabled]="loading" mat-raised-button color="primary">
					<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
					S'enregistrer
				</button>
			</div>
		</mat-card-actions>
		<mat-card-footer class="cancel-link">
			<a class="mod-textSmall" mat-raised-button routerLink="/map">Annuler</a>
		</mat-card-footer>
	</form>
</mat-card>