:host {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.map-container {
	height: inherit;
	z-index: 0;
}

.map-frame, #map {
	height: inherit;
}

.dialog-remove-overlay {
	opacity: 0;
}