<app-callout-error *ngIf="hasError" [errorsMessage]="errorsMessage"></app-callout-error>

<mat-card class="login-card">
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		<mat-card-title class="login-header">
			<h2 class="mod-marginBottomReset login-title">LOGIN</h2>
			<p>Bienvenue sur Drinks for all</p>
		</mat-card-title>

		<mat-card-content>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Email</mat-label>
					<input matInput type="email" formControlName="email"/>
					<mat-error *ngIf="submitted && f.email.errors">Veuillez entrer une adresse email</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Password</mat-label>
					<input matInput type="password" formControlName="password"/>
					<mat-error *ngIf="submitted && f.password.errors">Veuillez entrer un mot de passe</mat-error>
				</mat-form-field>
			</div>
		</mat-card-content>

		<mat-card-actions class="login-button">
			<div class="form-group">
				<button [disabled]="loading" mat-raised-button color="primary">
					<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
					Se connecter
				</button>
			</div>
		</mat-card-actions>
		<mat-card-footer class="register-link">
			<a class="mod-textSmall" routerLink="/auth/register">S'enregistrer</a>
		</mat-card-footer>
	</form>
</mat-card>
