:host {
	display: block;
	width: 350px;
	border-radius: 12px;
}

h3 {
	text-align: left;
	margin-left: 1rem;
	font-weight: normal;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 45%;
}

.filters-form {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;

	.filters-form-row {
		display: flex;
		padding: 0.8rem 0 0 0;
		justify-content: space-between;
	}
}

.filters-hide-button {
	text-align: center;
	padding: 5px;
}

.mapFilters-small-text {
	margin-left: 1rem;
}