<mat-card>
	<mat-card-title>
		<h3 class="mod-marginBottomReset">Filtrer Les bars</h3>
		<p class="mod-textSmall mapFilters-small-text">{{ data.length }} bars correspondent à votre recherche</p>
	</mat-card-title>
	<mat-card-content>
		<div [formGroup]="form" class="filters-form">
			<mat-checkbox matInput formControlName="isOpened">Ouvert</mat-checkbox>
			<mat-checkbox matInput formControlName="containsBeer">A des bières</mat-checkbox>
			<mat-checkbox matInput formControlName="isHappyHour">Est en HH</mat-checkbox>
		</div>
	</mat-card-content>
</mat-card>
<div mat-dialog-actions *ngIf="modalMapFilter">
	<button mat-button (click)="onCancel()">Annuler</button>
	<button mat-button [mat-dialog-close]="data" cdkFocusInitial>Valider</button>
</div>