<mat-card>
	<mat-card-title>
		<h3 class="mod-marginBottomReset">Filtrer Les bars</h3>
		<p class="mod-textSmall mapFilters-small-text">{{ data.length }} bars correspondent à votre recherche</p>
	</mat-card-title>
	<mat-card-content>
		<div [formGroup]="form" class="filters-form">
			<mat-checkbox matInput formControlName="isOpened">Ouvert</mat-checkbox>
			<mat-checkbox matInput formControlName="containsBeer">A des bières</mat-checkbox>
			<mat-checkbox matInput formControlName="isHappyHour">Est en HH</mat-checkbox>
			<div>
				<label>Prix</label>
				<mat-slider matInput formControlName="price" min="2" max="10" step="0.5" value="4" thumbLabel="true"></mat-slider>
			</div>
		</div>
	</mat-card-content>
</mat-card>