<div class="content" 
	fxLayout="row" 
	fxLayout.xs="column" 
	fxFlexFill >

	<div fxFlex="50" fxFlex.xs="70" >
		<div class="home-text-container">
			<h1>Trouvez le bar qui vous correspond</h1>
			
			<p>Une application mobile simple pour trouver les bars à votre goût</p>
			
			<button color="primary" routerLink="map" mat-stroked-button>Démarrer</button>
		</div>
	</div>
	<div fxFlex="50" fxFlex.xs="30">
		<img class="home-image" src="./../../../assets/images/home-app-right.png" alt="">
	</div>

</div>


