<div class="theme-background-container"></div>

<section class="header-card-white">
	<div class="group-container">
		<h2 class="highlighted-info">40</h2>
		<h3 class="description-info">Bières favorites</h3>
	</div>
	<div class="group-container">
		<h2 class="highlighted-info">Jonathan Bosi</h2>
		<h3 class="description-info">jonathan.bosi@lilo.org</h3>
	</div>
	<div class="group-container">
		<h2 class="highlighted-info">34</h2>
		<h3 class="description-info">Bars Favoris</h3>
	</div>
</section>