<mat-toolbar class="nav-bar">
	<div class="brand nav-items" fxShow.xs="false"><img src={{logoPath}} class="navBar-logo"></div>
	<div class= "nav-links nav-items">
		<span><a routerLink="/map" routerLinkActive="active">MAP</a></span>
		<span><a routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a></span>
		<span><a routerLink="/beers" routerLinkActive="active">BEERS</a></span>
	</div>
	<div class="nav-icons nav-items">
		<a routerLink="/admin-dashboard">
			<mat-icon aria-hidden="false" aria-label="Logout">settings</mat-icon>
		</a>
		<a *ngIf="isLogged; else login" (click)="logout()">
			<mat-icon aria-hidden="false" aria-label="Logout">exit_to_app</mat-icon>
		</a>
		<ng-template #login>
			<a routerLink="/auth" routerLinkActive="active">
				<mat-icon aria-hidden="false" aria-label="Login">person</mat-icon>
			</a>
		</ng-template>
	</div>
</mat-toolbar>

<router-outlet></router-outlet>