:host {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.brand {
	font-weight: 100;
	left: 1rem;
	font-size: medium;
}

.nav-items {
	margin: auto;
	span {
		padding-right: 1rem;
		font-weight: 100;
	}
}

.nav-bar {
	z-index: 1;
	position: relative;
	background-color: transparent;
}

a {
	text-decoration: none;
	&:visited {
		color: inherit;
	}

	&:hover {
		color: #d6cece;
	}
}

.navBar-logo {
	height: 30px;
	vertical-align: top;
	margin-right: 0.4rem;
}