.brand {
	font-weight: 100;
	left: 1rem;
	font-size: medium;
}

.nav-links {
	display: flex;
	justify-content: center;
	span {
		padding-right: 1rem;
		font-weight: 100;
	}
}

.nav-items {
	flex: 1 1;
}

.nav-bar {
	z-index: 1;
	position: relative;
	height: 50px;
	background-color: #E9BC2F;
}

a {
	color: #ffffff;
	font-weight: 400;
	text-decoration: none;
	font-size: large;
	&:visited {
		color: #ffffff;
	}

	&:hover {
		color: #676767;
	}
}

.navBar-logo {
	height: 2.6rem;
	vertical-align: top;
	margin-right: 0.4rem;
	position: absolute;
	top: 0.3rem;
	left: 0.6rem;
}

.nav-icons {
	display: flex;
	justify-content: flex-end;
	a {
		padding-right: 5px;
		cursor: pointer;
	}
}