.auto-complete-container {
	display: flex;
	align-items: baseline;
	width: 100%;
	position: relative;
	.auto-complete-search-icon {
		color: #E9BC2F;
		position: absolute;
		top: 17px;
		left: 4px;
	}
	
	.auto-complete-field {
		width: 100%;
		text-align: center;
	}

	.button-icon {
		width: 20px;
		height: 20px;
		line-height: 20px;
		position: absolute;
		right: 3px;
		bottom: 19px;
		.clear-icon {
			font-size: 18px;
		}
	}
	&.colored {
		.clear-icon, .mat-form-field-label-wrapper, .auto-complete-search-icon {
			color: white;
			position: absolute;
			bottom: 7px;
			right: 0;
		}
	}
}
