<mat-card >
	<mat-card-title class="mod-textCenter">
		{{ barName }}
	</mat-card-title>
	<mat-card-content>
		<p class="mod-textSmall mod-marginBottomReset">{{ barAddress }}</p>
		<p class="mod-textSmall mod-marginTopReset mod-marginBottomReset">Happy hours : {{ happyHourStart }} - {{ happyHourEnd }}</p>
		<div *ngIf="!isLoading ; else spinner">
			<div *ngIf="dataSource?.length; else empty" class="barDetails-container mat-elevation-z8">
				<table mat-table [dataSource]="dataSource">
					
					<!-- Name Column -->
					<ng-container matColumnDef="name">
						<th mat-header-cell *matHeaderCellDef> BIERES </th>
						<td class="barDetails-cell" mat-cell *matCellDef="let element"> {{element.name}} </td>
					</ng-container>
					
					<!-- Price Column -->
					<ng-container matColumnDef="price">
						<th mat-header-cell *matHeaderCellDef> € </th>
						<td class="barDetails-cell" mat-cell *matCellDef="let element"> {{element.price}} </td>
					</ng-container>
					
					
					<!-- priceHH Column -->
					<ng-container matColumnDef="priceHH">
						<th mat-header-cell *matHeaderCellDef> € (HH) </th>
						<td class="barDetails-cell" mat-cell *matCellDef="let element"> {{element.priceHH}} </td>
					</ng-container>
					
					<!-- priceHH Column -->
					<ng-container matColumnDef="icon">
						<th mat-header-cell *matHeaderCellDef> </th>
						<td class="barDetails-cell" mat-cell *matCellDef="let element">
							<app-beer-rounded-icon [backgroundColor]="element.icon" [iconColor]="'#FFFFFF'"></app-beer-rounded-icon>
						</td>
					</ng-container>
					
					<!-- quantity Column -->
					<ng-container matColumnDef="quantity">
						<th mat-header-cell *matHeaderCellDef> Qte </th>
						<td class="barDetails-cell" mat-cell *matCellDef="let element"> {{element.quantity}} </td>
					</ng-container>
					
					<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			</div>
			<ng-template #empty>
				<p class="mapPopup-empty">
					Les bières de ce bar n'ont pas été renseignées !
				</p>
			</ng-template>
		</div>
		<ng-template #spinner>
			<mat-spinner class="centered-spinner"></mat-spinner>
		</ng-template> 
	</mat-card-content>
</mat-card>