:host {
	display: block;
	width: 350px;
	max-width: 85vw;
	max-height: 60vh;
	height: 300px;
}

.card {
	background-color: #FFFFFF;
	padding: 1.5rem 1rem;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	box-sizing: border-box;
	overflow: hidden;
	height: 300px;
	width: 350px;
	max-width: 85vw;
	max-height: 60vh;
}

.barDetails-container {
	height: 300px;
	overflow: auto;
	scrollbar-width: none;
	box-shadow: none;
}

.mat-card-title {
	padding-left: 24px;
	color: #676767;
	font-size: larger;
}

.favorite-icon {
	position: absolute;
	left: 16px;
	top: 13px;
	cursor: pointer;
	user-select: none;
}

.centered-spinner {
	margin: 5px auto;
}

.tab-buttons {
	margin: 0.8rem 0 !important;
	button {
		border: 1px solid #eecc60;
		margin-right: 0.5rem;
		border-radius: 5px;
		background-color: #FFFFFF;
		color: #eecc60;
		padding: 0.5rem 1.2rem;
		&.isActive {
			color: #FFFFFF;
			background-color: #eecc60;
			border: none;
		}
	}
}
