<mat-card >
	<mat-card-title>
		<div class="mod-textCenter">{{ barName }}</div>
		<div (click)="toggleIsFavorite()">
			<mat-icon *ngIf="!isFavorite; else unfavorite" class="favorite-icon">favorite_border</mat-icon>
			<ng-template #unfavorite>
				<mat-icon class="favorite-icon" color="primary">favorite</mat-icon>
			</ng-template>
		</div>
	</mat-card-title>

	<mat-card-content>
		<p class="mod-textSmall mod-marginBottomReset">{{ barAddress }}</p>
		<p class="mod-textSmall mod-marginTopReset mod-marginBottomReset">Happy hours : {{ happyHourStart }} - {{ happyHourEnd }}</p>
		<div *ngIf="!isLoading ; else spinner">
			<div class="barDetails-container mat-elevation-z8"
				[bar]="barData"
				labelEmpty="Les bières de ce bar n'ont pas été renseignées !"
				app-beer-table>
			</div>
		</div>
		<ng-template #spinner>
			<mat-spinner class="centered-spinner"></mat-spinner>
		</ng-template> 
	</mat-card-content>
</mat-card>