<section>
	<h1>Users</h1>
	<div *ngIf="userList?.length" class="user-admin-table-container">
		<div app-admin-table
			[columnsProperties]="userColumns"
			[data]="userList">
		</div>
	</div>
</section>

<section>
	<h1>Owners</h1>
	<div *ngIf="ownersList?.length" class="user-admin-table-container">
		<div app-admin-table
			[columnsProperties]="userOwnersColumns"
			[data]="ownersList">
		</div>
	</div>
</section>

<section>
	<h1>Ownership requests</h1>
	<div *ngIf="ownershipRequestList?.length" class="user-admin-table-container">
		<div app-admin-table displayEditIcons="true"
			[columnsProperties]="userOwnersRequestsColumns"
			[data]="ownershipRequestList">
		</div>
	</div>
</section>