<table>
	<thead>
		<tr>
			<th *ngFor="let columnHeader of displayedColumns">{{ columnHeader.name }}</th>
			<th></th> <!-- Header for Icons -->
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let data of tableData">
			<td>{{ data.name }}</td>
			<td>{{ data.price }}</td>
			<td>{{ data.priceHH }}</td>
			<td>
				<div class="beer-icon-rounded" [style.background-color]="data.icon">
					<app-beer-icon></app-beer-icon>
				</div>
			</td>
			<td>{{ data.quantity }}</td>
			<ng-container *ngIf="displayEditIcons">
				<button mat-icon-button color="primary" aria-label="edit" (click)="onEditOrRemove(data)">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button color="primary" aria-label="remove" (click)="onEditOrRemove(data)">
					<mat-icon>clear</mat-icon>
				</button>
			</ng-container>
		</tr>
	</tbody>
</table>

<ng-template #empty>
	<p class="mapPopup-empty">
		{{ labelEmpty }}
	</p>
</ng-template>