@import './scss/custom';
@import './scss/leaflet';
@import "~leaflet/dist/leaflet.css";

html, body { height: 100%; }
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: #FBFBFB;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
	text-align: center;
}

li {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.map-marker-tooltip-price {
	background: none;
	border: none;
	box-shadow: none;
	color: white;
}

app-root {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

mat-card-title {
	padding: 0 !important;
}

mat-card-title.mat-card-title {
	padding-left: 24px;
	color: #676767;
	font-size: larger;
	text-align: left;
}

.auto-complete {
	.mat-form-field-wrapper {
		padding-bottom: 0.75em !important;
	}
}

.callout-error {
	background-color: rgb(228, 63, 77);
	padding: 0.3rem 1rem;
	border-radius: 0.3rem;
	color: #FFFFFF;
	margin: 1rem;
}

.mat-dialog-container {
	padding: 0;
}

.modalMapFilterMobile {
	width: inherit !important;
	height: inherit !important;

	.mat-card {
		.mat-card-content {
			.filters-form {
				flex-direction: column;
				margin-left: 1rem;
			}
		}
	}
}

.beer-icon-rounded {
	text-align: center;
	app-beer-icon {
		svg {
			width: 55%;
		}
	}
}

// MATERIAL

.auto-complete-container {
	&.colored {
		.mat-form-field-label-wrapper {
			label {
				color: white;
				font-weight: 500;
				font-size: 14px;
			}
		}
	}
}

// Mods

.mod-textCenter {
	text-align: center !important;
}

.mod-textSmall {
	font-size: 0.875rem;
}

.mod-marginTopReset {
	margin-top: 0 !important;
}

.mod-marginBottomReset {
	margin-bottom: 0 !important;
}

.mod-marginReset {
	margin: 0 !important;
}

.mod-paddingReset {
	padding: 0 !important;
}
