@import 'custom';

.leaflet-popup-content {
	margin: 0;
	width: 300px;
	height: 350px;
	display: contents;
}

.marker-cluster-small {
	background-color: $primary;
	opacity: 0.8 !important;
	div {
		background-color: unset;
		color: white;
	}
}

.marker-cluster-medium {
	background-color: $warn;
	opacity: 0.8 !important;
	div {
		background-color: unset;
		color: white;
	}
}

.marker-cluster-large {
	background-color: $accent;
	opacity: 0.8 !important;
	div {
		background-color: unset;
		color: white;
	}

}