@import 'custom';

.leaflet-popup-content {
	margin: 0;
	display: contents;
}

.marker-cluster-small {
	background-color: $primary;
	opacity: 0.8 !important;
	div {
		background-color: unset;
		color: white;
	}
}

.marker-cluster-medium {
	background-color: $warn;
	opacity: 0.8 !important;
	div {
		background-color: unset;
		color: white;
	}
}

.marker-cluster-large {
	background-color: $accent;
	opacity: 0.8 !important;
	div {
		background-color: unset;
		color: white;
	}
}

.leaflet-popup {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.leaflet-control-zoom {
	border: none !important;
	a {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		border-radius: 50% !important;
	}
}
