$md-lightyellow: (
	50 : #fdf9ec,
	100 : #faf0cf,
	200 : #f7e6b0,
	300 : #f3db90,
	400 : #f1d478,
	500 : #eecc60,
	600 : #ecc758,
	700 : #e9c04e,
	800 : #e7b944,
	900 : #e2ad33,
	A100 : #ffffff,
	A200 : #fffcf5,
	A400 : #ffecc2,
	A700 : #ffe3a8,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #000000,
		500 : #000000,
		600 : #000000,
		700 : #000000,
		800 : #000000,
		900 : #000000,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);

$md-lightred: (
    50 : #fbedee,
    100 : #f4d2d4,
    200 : #edb4b7,
    300 : #e5959a,
    400 : #e07f85,
    500 : #da686f,
    600 : #d66067,
    700 : #d0555c,
    800 : #cb4b52,
    900 : #c23a40,
    A100 : #ffffff,
    A200 : #ffdbdd,
    A400 : #ffa8ac,
    A700 : #ff8f93,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-lightorange: (
    50 : #fcf3eb,
    100 : #f8e2ce,
    200 : #f3cfae,
    300 : #eebc8d,
    400 : #eaad74,
    500 : #e69f5c,
    600 : #e39754,
    700 : #df8d4a,
    800 : #db8341,
    900 : #d57230,
    A100 : #ffffff,
    A200 : #ffefe5,
    A400 : #ffd0b3,
    A700 : #ffc099,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$my-app-primary: mat-palette($md-lightyellow);
$my-app-accent: mat-palette($md-lightred);
$my-app-warn: mat-palette($md-lightorange);