<div class="card">
	<div class="mod-textCenter popup-title">{{ barName }}</div>
	<div (click)="toggleIsFavorite()">
		<mat-icon *ngIf="!isFavorite; else unfavorite" class="favorite-icon">favorite_border</mat-icon>
		<ng-template #unfavorite>
			<mat-icon class="favorite-icon" color="primary">favorite</mat-icon>
		</ng-template>
	</div>

	<div class="tab-buttons">
		<button [ngClass]="{'isActive': isBeerButtonActive}" (click)="toggleBeerButton()" class="beer-button" color="primary">BIERES</button>
		<button [ngClass]="{'isActive': isMoreButtonActive}" (click)="toggleMoreButton()" class="more-button" color="primary">A PROPOS</button>
	</div>
	<ng-container *ngIf="isMoreButtonActive">
		<p class="mod-textSmall mod-marginBottomReset popup-info">
			<mat-icon color="primary">place</mat-icon>
			{{ barAddress }}
		</p>
		<p class="mod-textSmall mod-marginTopReset mod-marginBottomReset popup-info">
			<mat-icon color="primary">schedule</mat-icon>
			Happy hours : {{ happyHourStart }} - {{ happyHourEnd }}
		</p>
		<div class="chips">
			<div *ngFor="let chip of chips; let chipIndex = index" class="chip" [style.background-color]="getChipColors(chipIndex)">{{ chip }}</div>
		</div>
	</ng-container>
	<ng-container *ngIf="isBeerButtonActive">
		<div class="barDetails-card" *ngIf="!isLoading ; else spinner">
			<div class="barDetails-container mat-elevation-z8"
				[bar]="barData"
				labelEmpty="Les bières de ce bar n'ont pas été renseignées !"
				app-beer-table>
			</div>
		</div>
		<ng-template #spinner>
			<mat-spinner class="centered-spinner"></mat-spinner>
		</ng-template> 
	</ng-container>
</div>