
table {
	width: 100%;
}

.barDetails-cell {
	font-weight: 300;
	border: none;
}

.mat-row {
	height: 40px;
}

.barDetails-cell {
	min-width: 30px;
}

.mapPopup-empty {
	padding: 50px 0;
	text-align: center;
}

.beer-icon-rounded {
	border-radius: 50%;
	width: 35px;
	height: 35px;
}

.admin-table {
	width: 100%;
	padding: 0 10px;
	.admin-table-header {
		color: #888888;
		font-size: 12px;
		font-weight: 500;
		text-align: left;
		min-width: 20px;
	}
	.admin-table-row {
		line-height: 40px;
		.table-action-icon {
			min-width: 50px;
			border: none;
			button {
				visibility: hidden;
			}
		}
		&:hover {
			background-color: #EEEEEE;
			.table-action-icon {
				button {
					visibility: visible;
				}
			}
		}
	}
}
